// Bronkow theme - colorset
$redDr       :  64  #D93829
$redD        : 106  #E16054
$red         : 100  #EEA59E
$redL        : 148  #F4C4BF
$redLr       : 149  #F9E1DF

$orangeDr    :      #DD4814
$orangeD     :      #E46D43
$orange      :      #EB9172
$orangeL     :      #F0AC95
$orangeLr    :      #F5C8B9

$yellowDr    :      #FFB515
$yellowD     :      #FFC444
$yellow      :      #FFD373
$yellowL     :      #FFDE95
$yellowLr    :      #FFE9B9

$greenDr     :  64  #2e5832
$greenD      : 106  #327a3a
$green       : 100  #38a747
$greenL      : 148  #6ac777
$greenLr     : 149  #9cdaa5

$blueDr      :  17  #002B36
$blueD       :  24  #33555E
$blue        :  25  #668086
$blueL       :  67  #8C9FA4
$blueLr      :  74  #B3C0C3

$purpleDr    :      #2C001E
$purpleD     :      #56334B
$purple      :      #806678
$purpleL     :      #A08C9A
$purpleLr    :      #C0B3BC

$black       :   0  #000000
$greyDst     : 254  #232120  // cold #333333
$greyDr      : 253  #353230  // cold #666666
$greyD       : 250  #575450  // cold #8C8C8C
$grey        : 238  #8b867f  // warm #AEA79F
$greyL       : 250  #aea79f  // warm #BEB9B2
$greyLr      : 251  #cecac5  // warm #CECAC5
$greyLst     : 252  #e7e5e2  // warm #E7E5E2
$white       : 255  #FFFFFF
