// red
$redDr   :  52   #980101
$redD    :  88   #D40000
$red     :  160  #FD3301
$redL    :  167  #FF643D
$redLr   :  223  #FF7452
// orange
$orangeDr:  94   #F44800 // Accent orange
$orangeD :  136  #F56A00 // Orange unofficial
$orange  :  172  #FB8B00 // Orange base
$orangeL :  215  #F0A513 // Orange
$orangeLr:  221  #EEC73A // Orange Hilight
// yellow
$yellowDr:  58   #986601 // Accent Yellow Shadow
$yellowD :  101  #CCA301 // unofficial
$yellow  :  143  #FDCA01 // Accent Yellow Base
$yellowL :  227  #FFFF00 // Yellow
$yellowLr:  228  #FDFF99 // Accent Yellow Highlight
// cyan
$cyanDr   : 17   #002D3D // Environment blue
$cyanD    : 24   #003366 // Environment blue
$cyan     : 25   #336699 // Environment blue
$cyanL    : 38   #6699CC // Environment blue
$cyanLr   : 116  #AACCEE // Environment blue
// blue
$blueDr   : 17   #013397 // Accent Blue Shadow
$blueD    : 24   #0169C9 // Accent Blue Base
$blue     : 25   #0197FD // Accent Blue
$blueL    : 38   #56B9FD // Accent Blue unofficial
$blueLr   : 116  #B3DEFD // Accent Blue Highlight
// purple
$purpleDr : 54   #290052
$purpleD  : 55   #47008f
$purple   : 91   #6600CC // official
$purpleL  : 127  #FF00FF
$purpleLr : 134  #FF9BFF
// green
$greenDr :  64   #015A01 // Accent Green Shadow
$greenD  :  100  #339900 // Accent Green Base
$green   :  106  #5FCC29 // unofficial
$greenL  :  148  #98FC66 // Accent Green
$greenLr :  149  #CCFF99 // Accent Green Highlight

// http://colorschemedesigner.com/#1l11T2G7yw0w01yRA12yDzr4xXU8
$black   :    0  #12110F // unofficial
$greyDst :  235  #24221E // unofficial
$greyDr  :  233  #36332D // unofficial
$greyD   :  236  #47443C // unofficial
$grey    :  238  #565248 // official
$greyL   :  243  #787265 // unofficial
$greyLr  :  250  #999281 // unofficial
$greyLst :  254  #BDB49F // unofficial
$white   :  255  #EEEEEE // official
