$black    : [0,   #000000]
$white    : [255, #F9F9F9]
// red
$redDr   :  [52 , #611b0e]
$redD    :  [88 , #a12d17]
$red     :  [160, #c7381c]
$redL    :  [167, #e13f20]
$redLr   :  [223, #ee4322]
// orange
$orangeDr:  [94 , #6e3504]
$orangeD :  [136, #944706]
$orange  :  [172, #ae5307]
$orangeL :  [215, #bb5908]
$orangeLr:  [221, #fa770a]
// yellow
$yellowDr:  [58 , #4c460f]
$yellowD :  [101, #736a16]
$yellow  :  [143, #b3a423]
$yellowL :  [227, #d9c72a]
$yellowLr:  [228, #f3de2f]
// cyan
$cyanDr   : [17 , #00575b]
$cyanD    : [24 , #007a7f]
$cyan     : [25 , #008d92]
$cyanL    : [38 , #00999f]
$cyanLr   : [116, #009ea5]
// blue
$blueDr   : [17 , #003d53]
$blueD    : [24 , #116685]
$blue     : [25 , #1f8ab2]
$blueL    : [38 , #269eca]
$blueLr   : [116, #2aaada]
// purple
$purpleDr : [54 , #2b0e35]
$purpleD  : [55 , #442657]
$purple   : [91 , #5b3775]
$purpleL  : [127, #684084]
$purpleLr : [134, #71458e]
// green
$greenDr :  [64 , #4c6619]
$greenD  :  [100, #7ca628]
$green   :  [106, #98cc32]
$greenL  :  [148, #abe638]
$greenLr :  [149, #b4f33b]

// http://colorschemedesigner.com/#1l11T2G7yw0w01yRA12yDzr4xXU8
$greyDst : [235, #191917]
$greyDr  : [233, #1C1C1C]
$greyD   : [236, #262523]
$grey    : [238, #33322f]
$greyL   : [243, #807d75]
$greyLr  : [250, #bfbbb0]
$greyLst : [254, #EFEFEF]
$grey4   : [240, #585858]
$grey5   : [241, #606060]
$grey7   : [245, #8A8A8A]
$grey8   : [247, #9E9E9E]

//////////////////////////////////////////////////////////////









///////////////////////////////////////////////////////////////////////////////
$bgModeNormalD : #2f331d
$bgModeNormal  : #AFD700
$bgModeNormalL : #eff7cc
$bgModeVisualD : #332E28
$bgModeVisual  : #FF8700
$bgModeVisualL : #EFD5B8
$bgModeInsert  : #ffffff
$bgModeInsertD : #005f5f
$bgModeInsertL : #0087af
