// red
$redDr   :  52   #980101  #611b0e]
$redD    :  88   #D40000  #a12d17]
$red     :  160  #FD3301  #c7381c]
$redL    :  167  #FF643D  #e13f20]
$redLr   :  223  #FF7452  #ee4322]
// orange
$orangeDr:  94   #F44800  #6e3504 // Accent orange
$orangeD :  136  #F56A00  #944706 // Orange unofficial
$orange  :  172  #FB8B00  #ae5307 // Orange base
$orangeL :  215  #F0A513  #bb5908 // Orange
$orangeLr:  221  #EEC73A  #fa770a // Orange Hilight
// yellow
$yellowDr:  58   #986601  #4c460f // Accent Yellow Shadow
$yellowD :  101  #CCA301  #736a16 // unofficial
$yellow  :  143  #FDCA01  #b3a423 // Accent Yellow Base
$yellowL :  227  #FFFF00  #d9c72a // Yellow
$yellowLr:  228  #FDFF99  #f3de2f // Accent Yellow Highlight
// cyan
$cyanDr   : 17   #002D3D  #00575b // Environment blue
$cyanD    : 24   #003366  #007a7f // Environment blue
$cyan     : 25   #336699  #008d92 // Environment blue
$cyanL    : 38   #6699CC  #00999f // Environment blue
$cyanLr   : 116  #AACCEE  #009ea5 // Environment blue
// blue
$blueDr   : 17   #013397  #003d53 // Accent Blue Shadow
$blueD    : 24   #0169C9  #116685 // Accent Blue Base
$blue     : 25   #0197FD  #1f8ab2 // Accent Blue
$blueL    : 38   #56B9FD  #269eca // Accent Blue unofficial
$blueLr   : 116  #B3DEFD  #2aaada // Accent Blue Highlight
// purple
$purpleDr : 54   #290052
$purpleD  : 55   #47008f
$purple   : 91   #6600CC // official
$purpleL  : 127  #FF00FF
$purpleLr : 134  #FF9BFF
// green
$greenDr :  64   #015A01  #4c6619 // Accent Green Shadow
$greenD  :  100  #339900  #7ca628 // Accent Green Base
$green   :  106  #5FCC29  #98cc32 // unofficial
$greenL  :  148  #98FC66  #abe638 // Accent Green
$greenLr :  149  #CCFF99  #b4f33b // Accent Green Highlight

// http://colorschemedesigner.com/#1l11T2G7yw0w01yRA12yDzr4xXU8
$black   :  0    #000000  #12110F // unofficial
$greyDst :  235  #000000  #24221E // unofficial
$greyDr  :  233  #333333  #36332D // unofficial
$greyD   :  236  #666666  #47443C // unofficial
$grey    :  238  #888888  #565248 // official
$greyL   :  243  #AAAAAA  #787265 // unofficial
$greyLr  :  250  #CDCDCF  #999281 // unofficial
$greyLst :  254  #EEEEEE  #BDB49F // unofficial
$white   :  255           #EEEEEE // official
//////////////////////////////////////////////////////////////
$bgModeNormalD : #2f331d
$bgModeNormal  : #AFD700
$bgModeNormalL : #eff7cc
$bgModeVisualD : #332E28
$bgModeVisual  : #FF8700
$bgModeVisualL : #EFD5B8
$bgModeInsert  : #ffffff
$bgModeInsertD : #005f5f
$bgModeInsertL : #0087af
