$shadeDst: #181D20;
$shadeDr:  #272B35;
$shadeD:   #393F4C;
$shade:    #454D5D;
$shadeL:   #6D7782;
$shadeLr:  #8FA1B2;
$shadeLst: #E9F4FE;
$greyDr:   #797B81;
$greyD:    #888888;
$grey:     #9BA0A6;
$greyL:    #A9BACB;
$greyLr:   #CBCCCE;
$redD:     #574250;
$red:      #EB5368;
$orangeD:  #B85E2F;
$orange:   #D96629;
$orangeL:  #D99B28;
$greenD:   #10C66F;
$green:    #00FF7F;
$blueD:    #475983;
$blue:     #5675B9;
$blueL:    #4399C4;

$purple:   #BD73DB;
$purpleL:  #BCB8DB;


$black:    #000000;
$white:    #F5F7F0;
