
$orangeD:  #9E4E24;
$orange:   #D96629;
$orangeL:  #D99B28;

$redD:     #813844;
$red:      #EB5055;
$redL:     #EB5368;

$blueD:    #132637;
$blue:     #1D4F73;
$blueL:    #46AFE3;

$green:    #70BF53;

$purpleD:  #A260B1;
$purple:   #DF80FF;

$black:    #000000;
$grey:     #757873;
$greyL:    #888888;
$white:    #F5F7F0;

$shadeDst: #14171A;
$shadeDr:  #181D20;
$shadeD:   #2D333C;
$shade:    #343C45;
$shadeL:   #5F7381;
$shadeLr:  #8FA1B2;
$shadeLst: #A9BACB;
