$greenDr     :  64  #015A01
$greenD      : 106  #508550
$green       : 100  #8DAD8C
$greenL      : 148  #C3D9C3
$greenLr     : 149  #F7FFF7

$blueDr      :  64  #002B36
$blueD       : 106  #33555e
$blue        : 100  #668086
$blueL       : 148  #99aaaf
$blueLr      : 149  #b3c0c3

$redDr       :  64  #d93829
$redD        : 106  #e16054
$red         : 100  #e8887f
$redL        : 148  #f0afa9
$redLr       : 149  #f4c4bf

$orangeDr    :      #DD4814
$orangeD     :      #E46D43
$orange      :      #EB9172
$orangeL     :      #F1B6A1
$orangeLr    :      #F8DAD0

$yellowDr    :      #ffb515
$yellowD     :      #ffc444
$yellow      :      #ffd373
$yellowL     :      #ffe1a1
$yellowLr    :      #ffe9b9

$purpleDr    :      #2C001E
$purpleD     :      #421a35
$purple      :      #56334b
$purpleL     :      #6c4d62
$purpleLr    :      #806678

$black       :   0  #000000
$greyDst     : 235  #1a1a1a // cool grey
$greyDr      : 235  #333333 // cool grey
$greyD       : 250  #4d4d4d // warm grey
$grey        : 238  #666666 //
$greyL       : 250  #AEA79F // warm grey
$greyLr      : 251  #BEB9B2
$greyLst     : 252  #CECAC5
$white       : 255  #FFFFFF
// dark
$dAubergineDr: #2C001E
$dAubergineD : #56334B
$dAubergine  : #806678
$dAubergineL : #AB99A5
$dAubergineLr: #D5CCD2
// mid
$mAubergineDr: #5E2750
$mAubergineD : #7E5273
$mAubergine  : #9E7D96
$mAubergineL : #BFA9B9
$mAubergineLr: #DFD4DC
// light
$lAubergineDr: #77216F
$lAubergineD : #924D8C
$lAubergine  : #AD7AA9
$lAubergineL : #C9A6C5
$lAubergineLr: #E4D3E2

$aubergineDr : #772953
$aubergineD  : #925475
$aubergine   : #AD7F98
$aubergineL  : #C9A9BA
$aubergineLr : #E4D4DD
